html {
	height: 100%;
}

body {
	 background-color:#7db57d; 
	 display: flex;
	 align-items: center;
	 justify-content: center;
     
}

.div {
	background-color: #3a3a3a;
    color: 	white;
    padding: 70px;
    border: 5px solid red;
    margin: 200px;
}

img {
	height: 170px;
}

